@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-body-bg: hsl(217, 54%, 11%);
  --very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--very-dark-blue-body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 100vh;
}

.card-wrapper {
  width: 350px;
  background-color: var(--very-dark-blue-card-bg);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 40px 20px 20px #0c1729;
}

.card-wrapper .card-top {
  margin-bottom: 20px;
}

.card-wrapper .card-top .img-wrapper {
}

.card-wrapper .card-top .img-wrapper img {
  width: 300px;
  border-radius: 10px;
}

.card-wrapper .card-body {
}

.card-wrapper .card-body h1 {
  font-size: 22px;
  color: var(--white);
  margin-bottom: 25px;
  font-weight: 400;
  transition: all 0.8s ease;
}

.card-wrapper .card-body h1:hover {
  color: var(--cyan);
  cursor: pointer;
}

.card-wrapper .card-body p {
  color: var(--soft-blue);
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 20px;
}

.card-wrapper .card-body .body-bottom {
  display: flex;
  justify-content: space-between;
}

.card-wrapper .card-body .body-bottom .body-bottom__left {
  display: flex;
  justify-content: flex-start;
}

.card-wrapper .card-body .body-bottom .body-bottom__left .icon {
  margin-right: 8px;
  padding-top: 4px;
}

.card-wrapper .card-body .body-bottom .body-bottom__left p {
  font-size: 17px;
  color: var(--cyan);
  letter-spacing: 2px;
  font-weight: 400;
}

.card-wrapper .card-body .body-bottom .body-bottom__right {
  display: flex;
  justify-content: center;
}

.card-wrapper .card-body .body-bottom .body-bottom__right .icon {
  margin-right: 5px;
  padding-top: 3px;
}

.card-wrapper .card-body .body-bottom .body-bottom__right p {
  font-weight: 400;
}

.card-wrapper .hr {
  border-top: 1px solid var(--white);
  margin-bottom: 20px;
  opacity: 0.2;
}
.card-wrapper .card-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
}

.card-wrapper .card-footer img {
  width: 30px;
  margin-right: 5px;
}

.card-wrapper .card-footer span {
  color: var(--soft-blue);
  margin-right: 3px;
}

.card-wrapper .card-footer p {
  color: var(--white);
  transition: all 0.8s ease;
}

.card-wrapper .card-footer p:hover {
  color: var(--cyan);
  cursor: pointer;
}

@media (max-width: 576px) {
  .card-wrapper {
    width: 250px;
  }
  .card-wrapper .card-top {
    margin-bottom: 15px;
  }

  .card-wrapper .card-top .img-wrapper img {
    width: 200px;
  }

  .card-wrapper .card-body {
  }

  .card-wrapper .card-body h1 {
    font-size: 18px;
    color: var(--white);
    margin-bottom: 15px;
    font-weight: 400;
  }

  .card-wrapper .card-body .body-bottom .body-bottom__left .icon {
    margin-right: 4px;
    padding-top: 4px;
  }

  .card-wrapper .card-body .body-bottom .body-bottom__left p {
    font-size: 15px;
    color: var(--cyan);
    letter-spacing: 1px;
    font-weight: 300;
  }

  .card-wrapper .card-body .body-bottom .body-bottom__right .icon {
    margin-right: 3px;
    padding-top: 3px;
  }

  .card-wrapper .card-body .body-bottom .body-bottom__right p {
    font-weight: 300;
    font-size: 15px;
  }
  .card-wrapper .hr {
    margin-bottom: 15px;
  }

  .card-wrapper .card-footer {
    font-size: 15px;
  }
}
